{% extends "layout.html.jinja" %}
{% set page_title = "What's your email?" %}
{% block content %}
<div class="row-fluid marketing">
	<div class="span2"></div>
	<div class="span8">
		<h4>We need your email in order to properly identify you</h4>
		<form method="POST" action="">
			<input type="hidden" name="redirect_uri" id="redirect_uri" value="{{ redirect_uri }}">
			<label for="email">Email: </label>
			<input type="text" name="email" id="email">
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
{% endblock content %}
