{% extends "layout.html.jinja" %}
{% set page_title = 'Whoops' %}
{% block content %}
<p>
	A user already exists with your email address.
</p>
<p>
	(Maybe you meant to log in with {{ existing_provider }}?)
</p>
{% endblock %}
