{% extends 'layout.html.jinja' %}
{% set active_page = 'index' %}
{%block content%}
      <div class="jumbotron">
        <h1>Radlibs is a recursive madlibs implementation</h1>
        <p class="lead">So what does that mean? It means you can generate your own categories of word, instead of relying on boring old adjectives and nouns. It means you can define categories that themselves rely on other categories. It means <em>freedom</em>.</p>
        <a class="btn btn-large btn-success" href="/live_demo">Try it now</a>
      </div>

{%endblock content%}
