<html>
<body>
<div>
    <h1>Today is a day you'll remember for the rest of your life</h1>
</div>
<div>
    {{ inviter }} has invited you to the {{ association_name }} association on Radlibs!

    You're ready to get started&mdash; just<a href="{{ invite_url }}">accept the invitation</a> and away you go!
</div>
</body>
</html>
