{% extends 'layout.html.jinja' %}
{% set page_title = 'Welcome' %}
{% block content %}
<div class="jumbotron">
    <h1>Please create an account in order to continue!</h1>
</div>
{% endblock content%}
{% block scripts %}
<script src="/static/js/invitation_registration.js"></script>
{% endblock scripts %}
