<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page_title |e}} {% block title %}{%if page_title is defined %}&middot;{% endif %}Radlibs{% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="recursive turing-complete mad libs implementation">
    <meta name="author" content="Andrew Lorente">

    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="apple-touch-icon"      href="{{ url_for('static', filename='img/favicon-128.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-128.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16.png') }}">

</head>

<body
    {% if js_page is defined %}
        data-current_page="{{ js_page }}"
    {% endif %}
    {% if config['DEBUG'] %}
        data-bypass_login="true"
    {% endif %}
>
    <div class="container-narrow">
        <header>
            <ul class="nav nav-pills pull-right">
                {% for id, text in menu %}
                    <li {% if menu_page == id %}class="active"{% endif %}>
                        <a href="{{ url_for(id) }}">{{ text }}</a>
                    </li>
                {% endfor %}
                {% if not g.user %}
                    <li id="show-sign-in">
                        <a href="#">Sign In</a>
                    </li>
                {% endif %}
            </ul>
            <div id="janrainEngageEmbed"></div>
            <h3 class="muted"><a href="/">Radlibs</a></h3>
            <span class="breadcrumbs">
                {% for crumb, url in breadcrumbs %}
                    {%if url %}
                        <a href="{{ url }}">
                    {% endif %}
                            {{ crumb |e}}
                    {%if url %}
                        </a>
                    {% endif %}
                    {% if not loop.last %}
                        &raquo;
                    {% endif %}
                {% endfor %}
            </span>
        </header>

        <hr>

        <div id="page-content">
            {%block content%}{%endblock content%}
        </div>

        <hr>

        <footer>
            <p>
                &copy; Andrew Lorente 2013 &middot;
                <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                {% if g.user %}
                    <span class="logout"><a href="{{ url_for('logout') }}">Log out</a></span>
                {% endif %}
            </p>
        </footer>

    </div> <!-- /container -->
    <script>
        window.token_url = "{{ url_for('token_url', _external=True) }}?redirect_uri={{ request.path |urlencode}}";
    </script>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%block scripts %}{%endblock%}
</body>
</html>
