{% extends "layout.html.jinja" %}
{% set page_title = 'Associations' %}
{% set active_page = 'list_associations' %}
{% block content %}
<div class="jumbotron">
	<h1>Manage your Associations</h1>
</div>
<ul>
	{% for association in associations %}
		<li><a href="{{ url_for('manage_association', association_id=association.association_id) }}">
			{{ association.name }}
		</a></li>
	{% endfor %}
	<li> or <a href="{{ url_for('new_association') }}">create a new association</a></li>
</ul>
{% endblock content %}
