{%extends 'layout.html.jinja'%}
{% set active_page = 'live_demo' %}
{%block content%}
<div class="jumbotron">
	<form action="" id='radlib-form'>
		<input type="text" id="radlib" value="Since I was in &lt;Location&gt;, I figured I would try the local &lt;Food&gt; with &lt;Condiment&gt;.">
	</form>
    <a class="btn btn-large btn-success" href="#" id="fire">Evaluate!</a>
</div>
<div class="lib-row row-fluid marketing">
	<div class="span4">
		<h4>
			Carne
			<a href="#">
				<img src="/static/img/edit-icon.png" alt="edit this" class="edit-button">
			</a>
		</h4>
		<textarea name="carne" id="carne" class="library" rows="10">chapulines
&lt;Carne&gt; relleno
jamón
manteca
chorizo
tocineta
tocineta y &lt;Carne&gt;</textarea>
	</div>
	<div class="span4">
		<h4>
			Food
			<a href="#">
				<img src="/static/img/edit-icon.png" alt="edit this" class="edit-button">
			</a>
		</h4>
		<textarea class="library" name="food" id="food" rows="10">arroz con &lt;Carne&gt;
arroces con &lt;Carne&gt;
&lt;Animal&gt; meat
&lt;Animal&gt; eggs
cream cheese
omelette
&lt;Carne&gt; omelette
&lt;Location&gt; omelette
donut</textarea>
	</div>
	<div class="span4">
		<h4>
			Animal
			<a href="#">
				<img src="/static/img/edit-icon.png" alt="edit this" class="edit-button">
			</a>
		</h4>
		<textarea class="library" name="animal" id="animal" rows="10">bat
horse
pony
vampire &lt;Animal&gt;
mosquito
fly
&lt;Animal&gt;fly
skeptopotamus
LOL&lt;Animal&gt;</textarea>
	</div>
</div>
<div class="lib-row row-fluid marketing">
	<div class="span4">
		<h4>
			Location
			<a href="#">
				<img src="/static/img/edit-icon.png" alt="edit this" class="edit-button">
			</a>
		</h4>
		<textarea name="location" id="location" rows="10" class="library">Castle Greyskull
Snake Mountain
The Cobra Terrordrome
Pleasantville
&lt;Location&gt; Technical College
University of &lt;Location&gt;
the Oort Cloud
the linen closet</textarea>
	</div>
	<div class="span4">
		<h4>
			Condiment
			<a href="#">
				<img src="/static/img/edit-icon.png" alt="edit this" class="edit-button">
			</a>
		</h4>
		<textarea name="condiment" id="condiment" rows="10" class="library">&lt;Food&gt; relish
horseradish
&lt;Food&gt; chutney
jam
jelly
cheez-whiz
miracle whip</textarea>
	</div>
</div>
{%endblock content%}
{%block scripts%}
<script src="/static/js/live_demo.js"></script>
{%endblock scripts%}
