{% extends 'layout.html.jinja' %}
{% set page_title='VIP room' %}
{% block content %}
<div class="jumbotron">
	<h1>This is a development-mode-only login form that bypasses social login.</h1>
</div>
<div class="row-fluid marketing">
	<div class="span2"></div>
	<div class="span8">
		<form action="{{url_for('bypass_login')}}" method="post">
			<label for="identifier">Identifier: </label>
			<input type="text" name="identifier" id="identifier">
			<label for="email">Email: </label>
			<input type="text" name="email" id="email">
			<input type="submit" value="Sign in">
		</form>
	</div>
</div>
{% endblock content %}
