{% extends "layout.html.jinja" %}
{% set active_page = 'list_associations' %}
{% block content %}
<div class="jumbotron">
	<h1>{{ association.name |e}}</h1>
	<form action="#" id='radlib-form'>
		<input type="text" id="radlib" value="">
	</form>
    <a class="btn btn-large btn-success" href="#" id="fire">Evaluate!</a>
</div>
{% for email in member_emails %}
	{% if loop.index0 is divisibleby 3 %}
		<div class="row-fluid marketing member-row">
	{% endif %}
			<div class="span4">{{ email |e}}</div>
	{% if (loop.index is divisibleby 3) or (loop.last) %}
		</div>
	{% endif %}
{% endfor %}
{% for lib_name in libs.keys() %}
	{% if loop.index0 is divisibleby 3 %}
		<div class="row-fluid marketing lib-row">
	{% endif %}
			<div class="span4">
				<h4>
					<a href="{{ url_for('view_lib', lib_id=libs[lib_name]['lib_id']) }}">
						{{ lib_name |e}}
					</a>
				</h4>
				<div class="lib-display">
					<ul>
						{% for rad in libs[lib_name]['rads'] %}
							<li>{{ rad |e}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
	{% if (loop.index is divisibleby 3) or (loop.last) %}
		</div>
	{% endif %}
{% else %}
	<div class="row-fluid marketing">
	</div>
{% endfor %}
{% endblock content %}
{% block scripts %}
	<script src="/static/js/edit_association.js"></script>
	<script>
		$(document).ready(function() {
			$( 'body' ).data( 'new_lib_url', "{{ url_for('create_lib', association_id = association.association_id)}}" );
			$( 'body' ).data( 'test_radlib_url', "{{ url_for('test_radlib', association_id = association.association_id) }}" );
			$( 'body' ).data( 'invite_user_url', "{{ url_for('invite_user', association_id = association.association_id) }}" );
		});
	</script>
{% endblock scripts %}
