{% extends "layout.html.jinja" %}
{% set active_page = 'manage' %}
{% block content %}
<div class="jumbotron">
	<h1>{{ association.name |e}}</h1>
</div>
{% for lib_name in libs.keys() %}
	{% if loop.index0 is divisibleby 3 %}
		<div class="row-fluid marketing">
	{% endif %}
			<div class="span4">
				<h4>
					<a href="{{ url_for('view_lib', lib_id=libs[lib_name]['lib_id']) }}">
						{{ lib_name |e}}
					</a>
				</h4>
				<div class="lib-display">
					<ul>
						{% for rad in libs[lib_name]['rads'] %}
							<li>{{ rad |e}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
	{% if loop.index is divisibleby 3 or loop.last %}
		</div>
	{% endif %}
{% else %}
	<div class="row-fluid marketing">
	</div>
{% endfor %}
{% endblock content %}
{% block scripts %}
	<script src="/static/js/edit_association.js"></script>
	<script>
		$(document).ready(function() {
			$( 'body' ).data( 'new_lib_url', '{{ url_for('new_lib', association_id = association.association_id)}}' );
		});
	</script>
{% endblock scripts %}