<html>
<body>
<div>
    <h1>That was you who signed up for radlibs, right?</h1>
</div>
<div>
    We sure hope so! We're excited to have you!
    Please <a href="{{ verification_url }}">verify your email so we can be really sure our hopes are true</a>.
</div>
</body>
</html>
