{% extends 'layout.html.jinja' %}
{% set menu_page = 'list_associations' %}
{% set js_page = 'view_lib' %}
{% set page_title = lib.name %}
{% block content %}
<div class='jumbotron'>
	<h1>{{ lib.name |e}}</h1>
</div>
<div class="row-fluid marketing">
	<div class="span2"></div>
	<div class="span8">
		<ul>
			{% for rad in rads %}
				<li>{{ rad.rad |e}}</li>
			{% endfor %}
			<li><a href="#" id="new-rad">Add new Rad</a></li>
		</ul>
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script>
	$( 'body' ).data( 'new_rad_url', "{{ url_for('new_rad', lib_id=lib.lib_id) }}" );
</script>
{% endblock scripts %}
